@model IEnumerable<Application.Models.BusinessObject>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var businessObject in Model)
        {
            <tr>
                <td>@businessObject.Id</td>
                <td>@businessObject.Name</td>
                <td>@businessObject.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@businessObject.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@businessObject.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Create New</a>
